<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.bamumakauku</string>
	<key>CFBundleName</key>
	<string>bamum-akauku</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Bamum</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.bamumakauku.bamum</string>
		<key>TISIntendedLanguage</key>
		<string>bax-Bamu-CM</string>
	</dict>
</dict>
</plist>
